[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
requests = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
"boto3" = "*"
ipython = "*"

[requires]
python_version = "3"
