[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
aws-xray-sdk = "*"
"boto3" = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
moto = "*"

[requires]
python_version = "3"
