[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
boto3 = "*"
numpy = "*"
seaborn = "*"
fastai = "*"
torch = "*"

[dev-packages]
memory-profiler = "*"

[requires]
python_version = "3.8"
